<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.co') }}">
    <title>Mediumish - A Medium style template by WowThemes.net</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
        rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/mediumish.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/clean-blog.css') }}" rel="stylesheet">
</head>

<body>

    <!-- Begin Nav
================================================== -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <!-- begin logo -->
            <a class="navbar-brand" href="{{ url_for('index_page')}}">
                <img src="{{ url_for('static', filename='img/logo_k1_rev.png') }}"alt="">
            </a>
            <!-- end logo -->
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <!-- begin menu -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index_page')}}">Artikel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('write_page')}}">Menulis</a>
                    </li>
                </ul>
                <!-- end menu -->
                <!-- begin search -->
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <span class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25">
                            <path
                                d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z">
                            </path>
                        </svg></span>
                </form>
                <!-- end search -->
            </div>
        </div>
    </nav>
    <!-- End Nav
================================================== -->

    <!-- Begin Article
================================================== -->
    <div class="container">
        <div class="row">
            <!-- Begin Fixed Left Share -->
            <div class="col-md-2 col-xs-12">
                <div class="share">
                </div>
            </div>
            <!-- End Fixed Left Share -->

            <!-- Begin Post -->
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="mainheading">

                    <!-- Begin Top Meta -->
                    <div class="row justify-content-left">
                        <h1 class="sitetitle">Edit Post</h1>
                        <hr style="height:2px;border-width:0;color:gainsboro;background-color:gainsboro">
                        </h1>
                    </div>
                    <!-- End Top Menta -->

                </div>
                <!-- Begin Post Conten -->
                <form name="addForm" id="addForm" method="POST" enctype="multipart/form-data" novalidate>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <textarea rows="1" onkeyup="success()" type="text" class="form-control" placeholder="Title" name="title_edit" id="title_edit" required data-validation-required-message="Please enter a title." required>{{ post_edit.title }}</textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group col-xs-12 floating-label-form-group">
                            <label>Author</label>
                            <textarea rows="1" onkeyup="success()" type="text" class="form-control" placeholder="Author" name="author_edit" id="author_edit" data-validation-required-message="Please enter your phone number." required>{{ post_edit.author }}</textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group col-xs-12 floating-label-form-group">
                            <p style="font-size: 1.5em; font-family: Lato; color:#777;">Add Thumbnail</p>
                            <div class="form-control">
                                <div class="preview">
                                    <img id="file-ip-1-preview" class="image1" src="data:{{post_edit.mimetype}};base64,{{post_edit.img_base64}}">
                                </div>
                                <!-- <label for="file-ip-1">Add Thumbnail</label> -->
                                <input onkeyup="success()" type="file" class="form-control" placeholder="Add Thumbnail" name="file_edit" id="file-ip-1_edit" accept="image/*" onchange="showPreview(event)" data-validation-required-message="Please enter your phone number." required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Blog Content | Type "_" to create a new line</label>
                            <textarea rows="7" class="form-control" placeholder='Blog Content | type "\p" to create a new line' name="blog_content_edit" id="content_edit" data-validation-required-message="Please enter a message." required>{{ post_edit.blog_content }}</textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary" id="submit_edit">Send</button>
                    </div>
                </form>
                <!-- End Post Content -->
            </div>
            <!-- End Post -->
        </div>
    </div>
    <!-- End Article
================================================== -->

    <div class="hideshare"></div>




    <!-- Begin AlertBar
================================================== -->
    <!-- End AlertBar
================================================== -->

    <!-- Begin Footer
================================================== -->
    <div class="container">
        <div class="footer">
            <p class="pull-left">
                Copyright &copy; Kelompok 1
            </p>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <!-- End Footer
================================================== -->

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mediumish.js') }}""></script>
    <script type="text/javascript">
        function showPreview(event) {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);
                var preview = document.getElementById("file-ip-1-preview");
                preview.src = src;
                preview.style.display = "block";
            }
        }
    </script>
</body>

</html>